.mainHeader {
  font-size: x-large;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: green !important;
}

.search-container {
  width: 560px;
  margin: 15px auto;
}

.mainHeader a {
  text-decoration: none;
  color: white;
}

.mainHeader a:hover {
  color: blueviolet;
}

.main-button {
  width: 90px;
  border-radius: 5px;
  border: 0;
  color: white;
  height: 38px;
  margin: 10px 4px;
  box-shadow: 0 3px 5px 2px rgba(252, 252, 252, 0.3);
  background: linear-gradient(
    45deg,
    rgb(17, 97, 15) 30%,
    rgb(136, 117, 113) 90%
  );
}
